@import "../../_custom.scss";

$toolbar-height: 3rem;

$menu-width: 6rem;
$menu-item-size: 4rem;

.project {
    height: 100%;
    position: relative;

    .project-menu {
        padding-top: 1rem;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: $menu-width;
        
        background: $main-highlight-background;

        display: flex;
        flex-direction: column;
        align-items: center;

        .project-menu-item {
            margin: 1rem;
            height: $menu-item-size;
            width: $menu-item-size;
            
            border-radius: 50%;
            
            transition: border-radius 0.2s;
            
            display: flex;
            align-items: center;
            justify-content: center;

            cursor: pointer;
            outline: none;

            .icon {
                font-size: 1.5rem;
            }
            &.selected,
            &:hover {
                border-radius: 0.5rem;
            }
        }
    }

    .project-content {
        position: absolute;
        top: 0;
        bottom: 0;
        left: $menu-width;
        right: 0;
        background: white;
    }
}