$toolbar-height: 3rem;

.layout-builder {
    height: 100%;

    .layout-builder-menu {
        margin: 0 -15px;
        background: #9be7f1;
        height: 100%;
    }

    .layout-builder-toolbar {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        background: #12c6e2;
        height: $toolbar-height;

        .btn + .btn {
            margin-left: 0.25rem;
        }
    }

    .layout-builder-content-area {
        height: calc(100% - #{$toolbar-height});
        overflow: scroll;

        .layout-builder-content {
            height: 100%;
            background: #586A6D;
        }
    }
}