.element-grid {
    min-height: 250px;
    display: flex;
    flex-direction: column;
    padding: 0.25rem;

    .element-grid-row {
        min-height: 250px;

        .element-grid-col {
            min-height: 250px;
            position: relative;

            &:after {
                content: '';
                position: absolute;
                background: lightgrey;
                
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
            }
        }

        .element-grid-col + .element-grid-col {
            &:after {
                left: 0.25rem;
            }
        }
    }
    .element-grid-row + .element-grid-row {
        padding-top: 0.25rem; 
    }
}