.database-editor-collections {

    .database-editor-collection {
        border: 1px solid lightgrey;
        padding: 1rem;
        border-radius: 0.5rem;
        margin-bottom: 1rem;
        
        .collection-field {
            .input-group-append {
                width: 2.5rem;
                .btn {
                    width: 100%;
                }
            }
        }
        .database-editor-collection-field {
            border: 1px solid lightgrey;
            padding: 1rem;
            border-radius: 0.5rem;
            margin-bottom: 1rem;
        }
    }
} 