@import "../_custom.scss";

$toolbar-height: 3rem;

.app {
    height: 100%;
    position: relative;

    .app-toolbar {
        position: absolute;
        top: 0;
        height: $toolbar-height;
        left: 0;
        right: 0;
        
        background: #CCD;

        display: flex;
        align-items: center;

        .start {
            margin-right: auto;
            padding: 0.5rem;
        }
        .end {
            margin-left: auto;
        }

        .app-toolbar-item {
            display: block;
            color: black;
        }
    }

    .app-home {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        background: $primary-background;

        .app-home-item {
            margin: 2rem;
            height: 10rem;
            width: 10rem;

            background: $primary-highlight-background;
            border: 0;
            border-radius: 1rem;
            outline: none;
            text-align: center;
            padding: 2rem 0;

            .icon {
                display: block;
                color: $primary-highlight-color;
                font-size: 4rem;
            }
            .text {
                display: block;
                color: $primary-highlight-color;
                text-transform: uppercase;
                line-height: 4rem;
            }
            &:hover {
                background: $primary-select-background;
                .icon {
                    color: $primary-select-color;
                }
                .text {
                    color: $primary-select-color;
                }
            }
        }
    }

    .app-content {
        position: absolute;
        top: $toolbar-height;
        bottom: 0;
        left: 0;
        right: 0;
    }
}