@import "~bootstrap/scss/bootstrap";

$main-color: #EEEEEE;
$main-background: #222222;
$main-highlight-color: #DDDDDD;
$main-highlight-background: #333333;
$main-select-color: #CCCCCC;
$main-select-background: #444444;

$primary-color: #DDDDDD;
$primary-background: #111122;
$primary-highlight-color: #DDDDCC;
$primary-highlight-background: #222244;
$primary-select-color: #BBBBAA;
$primary-select-background: #444466;

$secondary-color: white;
$secondary-background: #221122;
$secondary-highlight-color: #DDCCDD;
$secondary-highlight-background: #442244;
$secondary-select-color: #BBAABB;
$secondary-select-background: #664466;

$third-color: white;
$third-background: #222211;
$third-highlight-color: #CCCCDD;
$third-highlight-background: #444422;
$third-select-color: #BBAABB;
$third-select-background: #666644;

$secondary-color: white;
$secondary-background: #221122;
$secondary-highlight-color: #DDCCDD;
$secondary-highlight-background: #442244;
$secondary-select-color: #BBAABB;
$secondary-select-background: #664466;