@import "~bootstrap/scss/bootstrap";

$primary-color: white;
$primary-background: #112;
$primary-highlight-color: #DDC;
$primary-highlight-background: #224;
$primary-select-color: #FDA;
$primary-select-background: #446;

$secondary-color: white;
$secondary-background: #112;
$secondary-highlight-color: #DDC;
$secondary-highlight-background: #224;
$secondary-select-color: #FDA;
$secondary-select-background: #446;